@font-face {
    font-family: "Norse Bold";
    src: url("./font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("./images/mountain.jpg");
    background-size: cover;
    background-position: center;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo-section img {
    height: 80px;
    margin-right: 10px;
}

.logo-section h1 {
    font-family: "Norse Bold", sans-serif;
}

.credit-section {
    font-size: 0.8rem;
    margin-top: auto;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.credit-section a {
    color: inherit;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.begin-text {
    max-width: 60ch;
}