:root {
    --white-color: #f9fafb;
    --black-color: #000000;
    --blue-color: #4f46e5;
    --light-purple-color: #aa98e4;
}

@font-face {
    font-family: "Norse Bold";
    src: url("./font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("./images/mountain.jpg");
    background-size: cover;
    background-position: center;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo-section img {
    height: 80px;
    margin-right: 10px;
}

.logo-section h1 {
    font-family: "Norse Bold", sans-serif;
}

.credit-section {
    font-size: 0.8rem;
    margin-top: auto;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.credit-section a {
    color: inherit;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.begin-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    font-weight: 600;
    padding: 25px 30px;
    max-width: 60ch;
    background-color: var(--white-color);
}

.right-panel form {
    flex: 1;
}

form .form-wrapper {
    background-color: var(--white-color);
    padding-left: 25px;
}

form .form-row {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;
}

label {
    font-size: 1rem;
}

form input {
    display: block;
    padding: 5px;
    border: 1px solid var(--black-color);
    border-radius: 3px;
    outline: none;
}

form input:focus {
    border-color: var(--blue-color);
    box-shadow: 2px 2px 5px 0;
}

form button {
    color: var(--white-color);
    background-color: var(--light-purple-color);
    border: none;
    border-radius: 8px;
    padding: 15px 35px;
    font-weight: bold;
}

.login-section {
    flex: 1;
}

.login-section p {
    margin-top: 0;
    padding-left: 25px;
    font-size: 1rem;
}

.login-section a {
    text-decoration: none;
    color: var(--light-purple-color);
    font-weight: 600;
}