@font-face {
    font-family: "Norse Bold";
    src: url("./font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("./images/mountain.jpg");
    background-size: cover;
    background-position: center;
}

.logo-section h1 {
    font-family: "Norse Bold", sans-serif;
}

.right-panel {
    display: flex;
    flex-direction: column;
}

.begin-text {
    max-width: 60ch;
}