@font-face {
    font-family: "Norse Bold";
    src: url("./font/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.logo-section h1 {
    font-family: "Norse Bold", sans-serif;
}

.begin-text {
    max-width: 60ch;
}